<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Products</title>
  </head>
  <body>
    <h3 style="margin: 5 auto;">Products</h3>
<form>
  <div class="form-row">
    <div class="col-md-3">
      <label for="validationDefault01">Product Title</label>
      <input type="text" class="form-control" id="validationDefault01" placeholder="Products Title">
    </div>
    <div class="col-md-3">

      <label for="validationDefault02">Color</label>
      <input type="text" class="form-control" id="validationDefault02" placeholder="Color">

    </div>
    <div class="col-md-1.5">
      <label for="validationDefault02">Price Range: From</label>
      <input type="text" class="form-control" id="validationDefault02" placeholder="From">
    </div>
    <div class="col-md-1.5">
      <label for="validationDefault02">To</label>
      <input type="text" class="form-control" id="validationDefault02" placeholder="To">
    </div>
    <div class="col-md-2">
      <label for="start">Start date:</label> <br>
    <input type="date" id="start" name="trip-start" value="mm/dd/yyyy" min="2018-01-01" max="2018-12-31">
    </div>

  </form>
 <table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Variant</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>Product Name</td>
    <td><p style="text-align:left; margin-left: 50px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros,
pulvinar facilisis justo mollis,<br>
    auctor consequat urna. Morbi a bibendum metus.
Donec scelerisque sollicitudin enim eu venenatis.<br> Duis tincidunt laoreet ex,
in pretium orci vestibulum eget. Class aptent taciti sociosqu ad litora torquent<br>
per conubia nostra, per inceptos himenaeos. Duis pharetra luctus lacus ut
vestibulum. Maecenas ipsum lacus,<br> lacinia quis posuere ut, pulvinar vitae dolor.
Integer eu nibh at nisi ullamcorper sagittis id vel leo. Integer <br> feugiat
faucibus libero, at maximus nisl suscipit posuere. Morbi nec enim nunc.
Phasellus bibendum turpis ut<br> ipsum egestas, sed sollicitudin elit convallis.
Cras pharetra mi tristique sapien vestibulum lobortis. Nam eget<br> bibendum metus,
non dictum mauris. Nulla at tellus sagittis, viverra est a, bibendum metus.</p></td>
    <td>Red/ XL  Price: 150.00  In Stock: 200pcs </td>
    <td>Edit</td>
  </tr>
  <tr>
    <td>Product Name</td>
    <td><p style="text-align:left; margin-left: 50px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros,
pulvinar facilisis justo mollis,<br>
    auctor consequat urna. Morbi a bibendum metus.
Donec scelerisque sollicitudin enim eu venenatis.<br> Duis tincidunt laoreet ex,
in pretium orci vestibulum eget. Class aptent taciti sociosqu ad litora torquent<br>
per conubia nostra, per inceptos himenaeos. Duis pharetra luctus lacus ut
vestibulum. Maecenas ipsum lacus,<br> lacinia quis posuere ut, pulvinar vitae dolor.
Integer eu nibh at nisi ullamcorper sagittis id vel leo. Integer <br> feugiat
faucibus libero, at maximus nisl suscipit posuere. Morbi nec enim nunc.
Phasellus bibendum turpis ut<br> ipsum egestas, sed sollicitudin elit convallis.
Cras pharetra mi tristique sapien vestibulum lobortis. Nam eget<br> bibendum metus,
non dictum mauris. Nulla at tellus sagittis, viverra est a, bibendum metus.</p></td>
    <td>Green/ XXL Price: 150.00  In Stock: 160pcs </td>
    <td>Edit</td>
  </tr>
</table>

</html>